body{

  margin:0;

  background:#0b1120;

  overflow:hidden;

  font-family:
  Inter,
  Arial,
  sans-serif;

}

.editorContainer{

  height:100vh;

  display:flex;

  flex-direction:column;

}

/* TOP BAR */

.topBar{

  padding:14px;

  display:flex;

  gap:10px;

  background:#111827;

  border-bottom:1px solid #1e293b;

  flex-wrap:wrap;

}

.topBar select{

  padding:12px;

  border:none;

  border-radius:12px;

  background:#1e293b;

  color:white;

}

.topBar button{

  padding:12px 18px;

  border:none;

  border-radius:12px;

  background:#2563eb;

  color:white;

  cursor:pointer;

  transition:0.2s;

}

.topBar button:hover{

  background:#1d4ed8;

}

#uploadBtn{

  background:#f59e0b;

}

#uploadBtn:hover{

  background:#d97706;

}

#downloadBtn{

  background:#10b981;

}

#downloadBtn:hover{

  background:#059669;

}

/* EDITOR */

#editor{

  flex:1;

}

/* TERMINAL */

#terminal{

  height:180px;

  margin:0;

  background:black;

  color:#00ff99;

  padding:14px;

  overflow:auto;

  font-size:13px;

  border-top:1px solid #1e293b;

  white-space:pre-wrap;

}
