body{

  margin:0;

  background:#0b1120;

  overflow:hidden;

  font-family:
  Inter,
  Arial,
  sans-serif;

}

.editorContainer{

  height:100vh;

  display:flex;

  flex-direction:column;

}

/* TOP BAR */

.topBar{

  padding:12px;

  display:flex;

  gap:10px;

  background:#111827;

  border-bottom:1px solid #1e293b;

  flex-wrap:wrap;

}

.topBar select,
.topBar button{

  padding:12px;

  border:none;

  border-radius:12px;

  background:#1e293b;

  color:white;

  font-size:14px;

}

.topBar button{

  background:#2563eb;

  cursor:pointer;

  transition:0.2s;

}

.topBar button:hover{

  opacity:0.9;

}

#clearBtn{

  background:#ef4444;

}

#uploadBtn{

  background:#f59e0b;

}

#downloadBtn{

  background:#10b981;

}

/* EDITOR */

#editor{

  flex:1;

}

/* TERMINAL */

.terminalSection{

  height:240px;

  display:flex;

  flex-direction:column;

  border-top:1px solid #1e293b;

}

#terminal{

  flex:1;

  margin:0;

  background:black;

  color:#00ff99;

  padding:14px;

  overflow:auto;

  font-size:13px;

  white-space:pre-wrap;

}

/* SERIAL INPUT */

.serialInputBar{

  display:flex;

  gap:10px;

  padding:10px;

  background:#111827;

}

#serialInput{

  flex:1;

  padding:12px;

  border:none;

  border-radius:10px;

  background:#1e293b;

  color:white;

}

#sendBtn{

  padding:12px 20px;

  border:none;

  border-radius:10px;

  background:#2563eb;

  color:white;

  cursor:pointer;

}

#stopMonitorBtn{

  padding:12px 20px;

  border:none;

  border-radius:10px;

  background:#9333ea;

  color:white;

  cursor:pointer;

}
